table of contents
1. Prepare
2. Data Import, Encoding
3. EDA
4. write df

# Prepare

## Import Library

In [1]:
import os, random, time

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

cmap = plt.get_cmap('tab10')

## Change matplotlib setting

In [2]:
import matplotlib as mpl

mode = 'go_ando'

if mode == 'go_ando':
    # go ando mode
    mpl.rcParams['xtick.color'] = mpl.rcParams['ytick.color'] = mpl.rcParams['axes.labelcolor'] =  'darkgrey'
    mpl.rcParams['grid.color'] = mpl.rcParams['axes.edgecolor'] = mpl.rcParams['text.color']  = 'darkgrey'
    mpl.rcParams['axes.spines.top'] = mpl.rcParams['axes.spines.right'] = False
    mpl.rcParams['axes.grid.axis'] = 'y'
    mpl.rcParams['axes.grid'] = True
    mpl.rcParams['axes.facecolor'] = mpl.rcParams['figure.facecolor'] = 'white'
elif mode == 'twitter':
    # twitter mode
    mpl.rcParams['xtick.color'] = mpl.rcParams['ytick.color'] = mpl.rcParams['axes.labelcolor'] =  'white'
    mpl.rcParams['grid.color'] = mpl.rcParams['axes.edgecolor'] = mpl.rcParams['text.color']  = 'white'
    mpl.rcParams['axes.spines.top'] = mpl.rcParams['axes.spines.right'] = False
    mpl.rcParams['axes.grid.axis'] = 'y'
    twitter_color = '#141d26'
    mpl.rcParams['axes.facecolor'] = mpl.rcParams['figure.facecolor'] = twitter_color
    
else:
    pass

## define parameter

In [3]:
base_dir = os.path.join('..','..')
data_dir = os.path.join(base_dir, 'data')
raw_dir = os.path.join(data_dir, 'raw')
processed_dir = os.path.join(data_dir, 'processed')

infile_list = os.listdir(raw_dir)
for i, infile in enumerate(infile_list):
    print(i, infile)

0 referees.json
1 teams.json
2 matches
3 competitions.json
4 players.json
5 coaches.json

# Data Import, Encoding

## Data Import(downloded file is not completed, so interpolate it to json file)

In [4]:
df = pd.read_json(os.path.join(raw_dir, infile_list[0]))

## check data

In [5]:
df.head()

,wyId,shortName,firstName,middleName,lastName,birthDate,birthArea,passportArea
0,378217,A. Guzmán,Alexander,,Guzmán Bonilla,None,"{'id': 170, 'alpha2code': 'CO', 'alpha3code': ...","{'id': 170, 'alpha2code': 'CO', 'alpha3code': ..."
1,385011,S. Bennett,Simon,,Bennett,None,"{'id': 826, 'alpha2code': 'EN', 'alpha3code': ...","{'id': 826, 'alpha2code': 'EN', 'alpha3code': ..."
2,385544,H. Osmers,Harm,,Osmers,1985-01-28,"{'id': 276, 'alpha2code': 'DE', 'alpha3code': ...","{'id': 276, 'alpha2code': 'DE', 'alpha3code': ..."
3,383894,F. Assmuth,Frederick,,Assmuth,1977-12-20,"{'id': 276, 'alpha2code': 'DE', 'alpha3code': ...","{'id': 276, 'alpha2code': 'DE', 'alpha3code': ..."
4,385800,F. Hebrard,Frédéric,,Hebrard,None,"{'id': 250, 'alpha2code': 'FR', 'alpha3code': ...","{'id': 250, 'alpha2code': 'FR', 'alpha3code': ..."

In [6]:
df.dtypes.to_frame()

                   0
wyId           int64
shortName     object
firstName     object
middleName    object
lastName      object
birthDate     object
birthArea     object
passportArea  object

## Encoding

In [7]:
df['birthArea'] = df.birthArea.map(lambda x: x['name'] if type(x)==dict else None)
df['passportArea'] = df.passportArea.map(lambda x: x['name'] if type(x)==dict else None)

In [8]:
df.head()

,wyId,shortName,firstName,middleName,lastName,birthDate,birthArea,passportArea
0,378217,A. Guzmán,Alexander,,Guzmán Bonilla,None,Colombia,Colombia
1,385011,S. Bennett,Simon,,Bennett,None,England,England
2,385544,H. Osmers,Harm,,Osmers,1985-01-28,Germany,Germany
3,383894,F. Assmuth,Frederick,,Assmuth,1977-12-20,Germany,Germany
4,385800,F. Hebrard,Frédéric,,Hebrard,None,France,France

# EDA

In [9]:
print(f'Number of referees = {len(df.wyId.unique())}')
print(f'Number of rows = {len(df)}')

Number of referees = 627
Number of rows = 627

# write df

In [10]:
df.to_csv(os.path.join(processed_dir, infile_list[0].split('.')[0]+'.csv'), index=False)