table of contents
1. 準備
2. データの読み込み
3. 分割、save

# 準備

## 必要なライブラリのインポート

In [1]:
import os, json

import pandas as pd

## dirの設定

In [4]:
data_dir = os.path.join('..', '..', 'data', 'raw')

os.listdir(data_dir)

['referees.json',
 'teams.json',
 'matches',
 'competitions.json',
 'events',
 'players.json',
 'coaches.json']

# データの読み込み

## competition

In [5]:
competitions_df = pd.read_json(os.path.join(data_dir, 'competitions.json'))

In [7]:
competitions_df.head()

,name,wyId,format,area,type
0,Italian first division,524,Domestic league,"{'name': 'Italy', 'id': '380', 'alpha3code': '...",club
1,English first division,364,Domestic league,"{'name': 'England', 'id': '0', 'alpha3code': '...",club
2,Spanish first division,795,Domestic league,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
3,French first division,412,Domestic league,"{'name': 'France', 'id': '250', 'alpha3code': ...",club
4,German first division,426,Domestic league,"{'name': 'Germany', 'id': '276', 'alpha3code':...",club

In [13]:
competitions_df.area.tolist()

[{'name': 'Italy', 'id': '380', 'alpha3code': 'ITA', 'alpha2code': 'IT'},
 {'name': 'England', 'id': '0', 'alpha3code': 'XEN', 'alpha2code': ''},
 {'name': 'Spain', 'id': '724', 'alpha3code': 'ESP', 'alpha2code': 'ES'},
 {'name': 'France', 'id': '250', 'alpha3code': 'FRA', 'alpha2code': 'FR'},
 {'name': 'Germany', 'id': '276', 'alpha3code': 'DEU', 'alpha2code': 'DE'},
 {'name': '', 'id': 0, 'alpha3code': 'XEU', 'alpha2code': ''},
 {'name': '', 'id': 0, 'alpha3code': 'XWO', 'alpha2code': ''}]

## matches

In [23]:
for infile in os.listdir(os.path.join(data_dir, 'matches')):
    matches_df = pd.read_json(os.path.join(data_dir, 'matches', infile))
    print(infile)
    display(matches_df.head(1))

matches_World_Cup.json

,status,roundId,gameweek,teamsData,seasonId,dateutc,winner,venue,wyId,label,date,groupName,referees,duration,competitionId
0,Played,4165368,0,"{'9598': {'scoreET': 0, 'coachId': 122788, 'si...",10078,2018-07-15 15:00:00,4418,Olimpiyskiy stadion Luzhniki,2058017,"France - Croatia, 4 - 2",2018-07-15 17:00:00-02:00,,"[{'refereeId': 378051, 'role': 'referee'}, {'r...",Regular,28

matches_Italy.json

,status,roundId,gameweek,teamsData,seasonId,dateutc,winner,venue,wyId,label,date,referees,duration,competitionId
0,Played,4406278,38,"{'3162': {'scoreET': 0, 'coachId': 251025, 'si...",181248,2018-05-20 18:45:00,3161,,2576335,"Lazio - Internazionale, 2 - 3","May 20, 2018 at 8:45:00 PM GMT+2","[{'refereeId': 377206, 'role': 'referee'}, {'r...",Regular,524

matches_Germany.json

,status,roundId,gameweek,teamsData,seasonId,dateutc,winner,venue,wyId,label,date,referees,duration,competitionId
0,Played,4405517,34,"{'2444': {'scoreET': 0, 'coachId': 14710, 'sid...",181137,2018-05-12 13:30:00,2445,Allianz Arena,2517036,"Bayern M\u00fcnchen - Stuttgart, 1 - 4","May 12, 2018 at 3:30:00 PM GMT+2","[{'refereeId': 379444, 'role': 'referee'}, {'r...",Regular,426

matches_England.json

,status,roundId,gameweek,teamsData,seasonId,dateutc,winner,venue,wyId,label,date,referees,duration,competitionId
0,Played,4405654,38,"{'1646': {'scoreET': 0, 'coachId': 8880, 'side...",181150,2018-05-13 14:00:00,1659,Turf Moor,2500089,"Burnley - AFC Bournemouth, 1 - 2","May 13, 2018 at 4:00:00 PM GMT+2","[{'refereeId': 385705, 'role': 'referee'}, {'r...",Regular,364

matches_France.json

,status,roundId,gameweek,teamsData,seasonId,dateutc,winner,venue,wyId,label,date,referees,duration,competitionId
0,Played,4405655,38,"{'3783': {'scoreET': 0, 'coachId': 210513, 'si...",181189,2018-05-19 19:00:00,0,Stade Michel d'Ornano,2501056,"Caen - PSG, 0 - 0","May 19, 2018 at 9:00:00 PM GMT+2","[{'refereeId': 384954, 'role': 'referee'}, {'r...",Regular,412

matches_Spain.json

,status,roundId,gameweek,teamsData,seasonId,dateutc,winner,venue,wyId,label,date,referees,duration,competitionId
0,Played,4406122,38,"{'676': {'scoreET': 0, 'coachId': 92894, 'side...",181144,2018-05-20 18:45:00,676,Camp Nou,2565922,"Barcelona - Real Sociedad, 1 - 0","May 20, 2018 at 8:45:00 PM GMT+2","[{'refereeId': 398931, 'role': 'referee'}, {'r...",Regular,795

matches_European_Championship.json

,status,roundId,gameweek,teamsData,seasonId,dateutc,winner,venue,wyId,label,date,groupName,referees,duration,competitionId
0,Played,4165474,0,"{'9905': {'scoreET': 1, 'coachId': 137521, 'si...",9291,2016-07-10 19:00:00,9905,Stade de France,1694440,"Portugal - France, 1 - 0 (E)",2016-07-10 21:00:00-02:00,Group F,"[{'refereeId': 381617, 'role': 'referee'}, {'r...",ExtraTime,102

## teams

In [14]:
teams_df = pd.read_json(os.path.join(data_dir, 'teams.json'))

In [22]:
teams_df

,city,name,wyId,officialName,area,type
0,Newcastle upon Tyne,Newcastle United,1613,Newcastle United FC,"{'name': 'England', 'id': '0', 'alpha3code': '...",club
1,Vigo,Celta de Vigo,692,Real Club Celta de Vigo,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
2,Barcelona,Espanyol,691,Reial Club Deportiu Espanyol,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
3,Vitoria-Gasteiz,Deportivo Alav\u00e9s,696,Deportivo Alav\u00e9s,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
4,Valencia,Levante,695,Levante UD,"{'name': 'Spain', 'id': '724', 'alpha3code': '...",club
...,...,...,...,...,...,...
137,Las Rozas,Spain,1598,Spain,"{'name': 'Spain', 'id': 724, 'alpha3code': 'ES...",national
138,Beograd,Serbia,17322,Serbia,"{'name': 'Serbia', 'id': 688, 'alpha3code': 'S...",national
139,Bern,Switzerland,6697,Switzerland,"{'name': 'Switzerland', 'id': 756, 'alpha3code...",national
140,Warszawa,Poland,13869,Poland,"{'name': 'Poland', 'id': 616, 'alpha3code': 'P...",national
141,Abuja,Nigeria,16823,Nigeria,"{'name': 'Nigeria', 'id': 566, 'alpha3code': '...",national

# 分割、save

### 各competitionsに参加しているteamのリストがないので、jsonを作り直す

In [24]:
teams_df_dict = {}
for infile in os.listdir(os.path.join(data_dir, 'events')):
    events_df = pd.read_json(os.path.join(data_dir, 'events', infile))
    teams_df_dict[infile.split('.')[0]] = teams_df[teams_df.wyId.isin(events_df.teamId.unique().tolist())]

In [25]:
for k, v in teams_df_dict.items():
    print(k)
    print(f'Number of teams: {len(v)}')

events_France
Number of teams: 20
events_Spain
Number of teams: 20
events_Germany
Number of teams: 18
events_European_Championship
Number of teams: 24
events_World_Cup
Number of teams: 32
events_Italy
Number of teams: 20
events_England
Number of teams: 20

In [26]:
os.mkdir(os.path.join(data_dir, 'teams'))

In [27]:
for k, v in teams_df_dict.items():
    k = k.replace('events_','')
    v.to_json(os.path.join(data_dir, 'teams', f'teams_{k}.json'))

## events

In [28]:
from tqdm import tqdm
for infile in tqdm(os.listdir(os.path.join(data_dir, 'events'))):
    events_df = pd.read_json(os.path.join(data_dir, 'events', infile))
    competitions = infile.split('.')[0].replace('events_','')
    os.mkdir(os.path.join(data_dir, 'events', competitions))
    for matchId in events_df.matchId.unique().tolist():
        events_df[events_df.matchId==matchId].to_json(os.path.join(data_dir, 'events', competitions, f'{matchId}.json'))

100%|██████████| 7/7 [01:05<00:00,  9.35s/it]